<<<<<<< HEAD
.leaflet-control-zoomhome a {
    font: bold 18px "Lucida Console",Monaco,monospace;
}

a.leaflet-control-zoomhome-in,
a.leaflet-control-zoomhome-out {
  font-size: 1.5em;
  line-height: 26px;
=======
.leaflet-control-zoomhome a {
    font: bold 18px "Lucida Console",Monaco,monospace;
}

a.leaflet-control-zoomhome-in,
a.leaflet-control-zoomhome-out {
  font-size: 1.5em;
  line-height: 26px;
>>>>>>> b438bfe31d365fca7aaefd2ee73840bcd1475d71
}